.col-xs-1 {
  width: 7.3333333333%;
  display: inline-block;
  vertical-align: top; }

.col-xs-2 {
  width: 15.6666666667%;
  display: inline-block;
  vertical-align: top; }

.col-xs-3 {
  width: 24%;
  display: inline-block;
  vertical-align: top; }

.col-xs-4 {
  width: 32.3333333333%;
  display: inline-block;
  vertical-align: top; }

.col-xs-5 {
  width: 40.6666666667%;
  display: inline-block;
  vertical-align: top; }

.col-xs-6 {
  width: 49%;
  display: inline-block;
  vertical-align: top; }

.col-xs-7 {
  width: 57.3333333333%;
  display: inline-block;
  vertical-align: top; }

.col-xs-8 {
  width: 65.6666666667%;
  display: inline-block;
  vertical-align: top; }

.col-xs-9 {
  width: 74%;
  display: inline-block;
  vertical-align: top; }

.col-xs-10 {
  width: 82.3333333333%;
  display: inline-block;
  vertical-align: top; }

.col-xs-11 {
  width: 90.6666666667%;
  display: inline-block;
  vertical-align: top; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-sm-1 {
    width: 7.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-2 {
    width: 15.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-3 {
    width: 24%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-4 {
    width: 32.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-5 {
    width: 40.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-6 {
    width: 49%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-7 {
    width: 57.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-8 {
    width: 65.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-9 {
    width: 74%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-10 {
    width: 82.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-sm-11 {
    width: 90.6666666667%;
    display: inline-block;
    vertical-align: top; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-md-1 {
    width: 7.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-md-2 {
    width: 15.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-md-3 {
    width: 24%;
    display: inline-block;
    vertical-align: top; }

  .col-md-4 {
    width: 32.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-md-5 {
    width: 40.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-md-6 {
    width: 49%;
    display: inline-block;
    vertical-align: top; }

  .col-md-7 {
    width: 57.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-md-8 {
    width: 65.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-md-9 {
    width: 74%;
    display: inline-block;
    vertical-align: top; }

  .col-md-10 {
    width: 82.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-md-11 {
    width: 90.6666666667%;
    display: inline-block;
    vertical-align: top; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 7.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-2 {
    width: 15.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-3 {
    width: 24%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-4 {
    width: 32.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-5 {
    width: 40.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-6 {
    width: 49%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-7 {
    width: 57.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-8 {
    width: 65.6666666667%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-9 {
    width: 74%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-10 {
    width: 82.3333333333%;
    display: inline-block;
    vertical-align: top; }

  .col-lg-11 {
    width: 90.6666666667%;
    display: inline-block;
    vertical-align: top; } }
#menu i {
  display: none; }
#menu li {
  display: inline-block; }
#menu li a {
  text-decoration: none; }
#menu li a,
#menu li.active a {
  padding: 6px 18px;
  display: block; }
#menu li.active a {
  color: #fde6b1;
  text-shadow: 1px 0px 5px #fde6b1; }

@media (min-width: 768px) {
  #menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 70;
    padding: 0;
    margin: 0;
    text-align: right; }
    #menu i {
      margin-right: 6px;
      display: inline; }
    #menu li {
      display: block; } }
.sunset {
  background: #6f749e;
  background: -moz-linear-gradient(top, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6f749e), color-stop(31%, #9a8daf), color-stop(58%, #d0a8b9), color-stop(80%, #f8bbb1), color-stop(100%, #fde6b1));
  background: -webkit-linear-gradient(top, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%);
  background: -o-linear-gradient(top, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%);
  background: -ms-linear-gradient(top, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%);
  background: linear-gradient(to bottom, #6f749e 0%, #9a8daf 31%, #d0a8b9 58%, #f8bbb1 80%, #fde6b1 100%); }

#silhouette {
  z-index: 70;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 40px;
  width: 210px;
  z-index: 70; }

/* Medium devices (desktops, 992px and up) */
.grass {
  background-image: url("../images/grass.svg");
  background-repeat: repeat-x;
  background-size: 300px;
  background-position: bottom;
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  z-index: 70; }

@media (min-width: 768px) {
  #silhouette {
    left: 40px;
    width: 250px; } }
@media (min-width: 1200px) {
  #silhouette {
    width: 300px; } }
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
* {
  box-sizing: border-box; }

@font-face {
  font-family: Starry;
  src: url("../fonts/One Starry Night Font.ttf"); }
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fde6b1;
  height: 100vh; }

h1, h2, h3 {
  font-family: Starry;
  color: #fde6b1;
  text-shadow: 1px 0px 5px #fde6b1; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 3em; }

p {
  font-size: 2em;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-size: 42px; }

.section {
  text-align: center; }

a {
  color: #f8bbb1;
  font-weight: 500;
  transition: all 1s;
  -webkit-transition: all 1s; }

a:hover {
  text-shadow: 1px 0px 5px #f8bbb1; }

/*** VIDEO ***/
iframe, #map {
  border: 20px solid black;
  border-radius: 12px; }

#video, #map {
  padding: 20px 0; }

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite; }

@keyframes blink {
  to {
    visibility: hidden; } }
@-webkit-keyframes blink {
  to {
    visibility: hidden; } }
.video-js {
  margin: 0 auto; }

.playMe {
  font-family: Starry;
  font-weight: bold;
  font-size: 72px;
  color: white;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  top: 220px;
  left: calc(50% - 80px); }

.fp-tableCell {
  vertical-align: top; }

#section1 h1,
#section3 h1,
#section4 h1 {
  margin-top: 100px; }

p {
  margin-bottom: 1em; }

#section0 h1 {
  margin: 50px 0; }

.fullpage-wrapper {
  max-width: 960px;
  margin: 0 auto; }

/*** ABOUT ***/
.photo {
  border-radius: 50%;
  width: 300px;
  height: 300px; }

/*** CEREMONY ***/
/*** REGISTRY ***/
#section2 p,
#section3 p {
  font-size: 1.3em; }

.registry {
  text-align: center; }
  .registry img {
    width: 250px; }

/*** HOTELS ***/
.hotel {
  font-size: 14px; }

#map {
  height: 400px;
  margin: 30px auto;
  width: 600px;
  color: #6f749e; }

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #fde6b1; }

.fp-controlArrow.fp-prev {
  border-color: transparent #fde6b1 transparent transparent; }

.fp-tableCell {
  padding: 40px; }
