// .nav-logo {
// 	width: 150px;
// 	position: fixed;
// 	top: 10px;
// 	left: 40px;

// 	color: black;
// 	font-weight: 600;
// }

#menu {
	i {
		display: none;
	}

	li {
		display:inline-block;
	}

	li a{
		text-decoration:none;
	}

	li a,
	li.active a{
		padding: 6px 18px;
		display:block;
	}

	li.active a{
		color: $color--5;
		text-shadow: 1px 0px 5px #fde6b1;
	}
}

@media (min-width: 768px) { 
	#menu{
		position:fixed;
		top:0;
		right:0;
		height: 40px;
		z-index: 70;
		padding: 0;
		margin:0;
		text-align: right;

		i {
			margin-right: 6px;
			display: inline;
		}

		li {
			display:block;
		}
	}
}


