$color--pink: #f5ddd5;
$color--peach: #f2baac;
$color--green1: #50ab87;
$color--green2: #82c7a9;
$color--mint: #aed9b3;
$color--yellow: #ededc2;

$color--dark: #1f1f1f;

$color--blue: #d6ecff;
$color--morePink: #ffd8d8;

@import 'sunset';

* {
	box-sizing: border-box;
}

@font-face {
	font-family: Starry;
	src: url('../fonts/One Starry Night Font.ttf')
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 20px;

	color:  $color--pink;
}

h1, h2, h3 {	
	font-family: Starry;
}

h1 {
	font-size: 100px;
	margin-top: 60px;
}

h2 {
	font-family: Starry;
	font-size: 60px;
}

h3 {
	font-size: 42px;
}

// section:nth-child(odd)
// {
// 	background-color: $color--pink;
// }

section:first-of-type {
	background-image: url('../images/grass.svg');
	background-repeat: repeat-x;
	background-size: 300px;
	background-position: bottom;
}


section:not(:first-of-type) {

	padding: 40px 0;
	background: $color--dark;
}

a {
	color: $color--green1;
}

/*** VIDEO ***/

iframe {
	margin-top: 20%;
	margin-bottom: 20%;
	border: 20px solid $color--dark;
	border-radius: 12px;

	position: absolute;
}

#video {
	padding: 20px 0;
}


.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.video-js {
	margin: 0 auto;
}

.playMe {
	font-family: Starry;
	font-weight: bold;
	font-size: 72px;
	color: white;
	text-shadow: 2px 2px 2px #000;

	position: absolute;
	top: 220px;
  	left: calc(50% - 80px);
}

/*** NAV ***/

.nav-logo {
	font-size: 18px;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	//margin-bottom: 0;

	span {
		font-size: 16px;
	}
}

.navbar {
	margin-bottom: 0;
}

/*** ABOUT ***/

.photo {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

/*** CEREMONY ***/


#ceremony {
	padding: 0;
}

#ceremony-left {
	padding: 20px 0;
}

#map {
	height: 500px;
}

/*** REGISTRY ***/

.registry {
	text-align: center;
	img
	{
		width: 200px;
	}
}
